Repository NextNodeSolutions/project-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,jsonc,md}": [
		"biome check --write --no-errors-on-unmatched --staged"
	],
	"package.json": ["better-sort-package-json", "biome check --write --no-errors-on-unmatched --staged"]
}

fix: use cname-target instead of railway-url for DNS workflow
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
Due: none

Add Preact frontend proof-of-concept template with Biome tooling (#19)
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/Dockerfile
  apps/astro/src/components/Features.astro
  apps/astro/src/pages/health.ts
  apps/poc-frontend/.env.example
  apps/poc-frontend/.gitignore
  apps/poc-frontend/.husky/commit-msg
  apps/poc-frontend/.husky/pre-commit
  apps/poc-frontend/.lintstagedrc.json
  apps/poc-frontend/CLAUDE.md
  apps/poc-frontend/README.md
  apps/poc-frontend/__tests__/setup.ts
  apps/poc-frontend/__tests__/storage.spec.ts
  apps/poc-frontend/__tests__/utils.spec.ts
  apps/poc-frontend/biome.json
  apps/poc-frontend/commitlint.config.js
  apps/poc-frontend/index.html
  apps/poc-frontend/package.json
  apps/poc-frontend/postcss.config.js
  apps/poc-frontend/public/vite.svg
  apps/poc-frontend/src/app.tsx
  apps/poc-frontend/src/components/common/Button.tsx
  apps/poc-frontend/src/components/common/Card.tsx
  apps/poc-frontend/src/components/common/Modal.tsx
  apps/poc-frontend/src/components/features/ExampleFeature.tsx
  apps/poc-frontend/src/hooks/useLocalStorage.ts
  apps/poc-frontend/src/hooks/useModal.ts
  apps/poc-frontend/src/lib/logger.ts
  apps/poc-frontend/src/lib/storage.ts
  apps/poc-frontend/src/lib/utils.ts
  apps/poc-frontend/src/main.tsx
  apps/poc-frontend/src/styles/index.css
  apps/poc-frontend/src/types/index.ts
  apps/poc-frontend/template_config.json
  apps/poc-frontend/tsconfig.json
  apps/poc-frontend/vite.config.ts
  apps/poc-frontend/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: add concurrency groups to prevent duplicate workflow runs
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
Due: none

Add PR preview workflows to Astro template
  apps/astro/.github/workflows/pr-preview-cleanup.yml
  apps/astro/.github/workflows/pr-preview.yml
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

refactor(library): rebuild template from scratch with modern patterns
  packages/library/.changeset/config.json
  packages/library/.github/workflows/manual-publish.yml
  packages/library/.github/workflows/version.yml
  packages/library/.lintstagedrc.json
  packages/library/.prettierignore
  packages/library/CLAUDE.md
  packages/library/README.md
  packages/library/biome.json
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/pnpm-workspace.yaml
  packages/library/src/index.ts
  packages/library/src/lib/core.spec.ts
  packages/library/src/lib/core.ts
  packages/library/src/lib/index.ts
  packages/library/src/types/index.ts
  packages/library/src/utils/index.ts
  packages/library/src/utils/logger.spec.ts
  packages/library/src/utils/logger.ts
  packages/library/src/utils/utils.spec.ts
  packages/library/src/utils/utils.ts
  packages/library/template_config.json
  packages/library/tests/setup.ts
  packages/library/tsconfig.build.json
  packages/library/tsconfig.json
  packages/library/tsup.config.ts
  packages/library/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

style: format workflow files
  packages/library/.github/workflows/auto-publish.yml
  packages/library/.github/workflows/changeset-check.yml
  packages/library/.github/workflows/test.yml
Due: none

Rebuild library template with modern patterns and workflows (#20)
  packages/library/.changeset/config.json
  packages/library/.github/workflows/auto-publish.yml
  packages/library/.github/workflows/changeset-check.yml
  packages/library/.github/workflows/manual-publish.yml
  packages/library/.github/workflows/test.yml
  packages/library/.github/workflows/version.yml
  packages/library/.lintstagedrc.json
  packages/library/.prettierignore
  packages/library/CLAUDE.md
  packages/library/README.md
  packages/library/biome.json
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/pnpm-workspace.yaml
  packages/library/src/index.ts
  packages/library/src/lib/core.spec.ts
  packages/library/src/lib/core.ts
  packages/library/src/lib/index.ts
  packages/library/src/types/index.ts
  packages/library/src/utils/index.ts
  packages/library/src/utils/logger.spec.ts
  packages/library/src/utils/logger.ts
  packages/library/src/utils/utils.spec.ts
  packages/library/src/utils/utils.ts
  packages/library/template_config.json
  packages/library/tests/setup.ts
  packages/library/tsconfig.build.json
  packages/library/tsconfig.json
  packages/library/tsup.config.ts
  packages/library/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat(astro): align template with brand guidelines v2.0
  apps/astro/src/layouts/BaseLayout.astro
  apps/astro/src/styles/global.css
Due: none
