Repository NextNodeSolutions/project-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,jsonc,md}": [
		"biome check --write --no-errors-on-unmatched --staged"
	],
	"package.json": ["better-sort-package-json"]
}

fix: fixed template.json
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed template.json (#2)
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: added type to keywords
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: added type to keywords (#3)
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed vitest eslint file ts
  packages/library/eslint.config.mjs
  packages/library/tsconfig.eslint.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed vitest eslint file ts (#4)
  packages/library/eslint.config.mjs
  packages/library/tsconfig.eslint.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed github actions + changesets
  packages/library/.changeset/twenty-ads-beg.md
  packages/library/.github/workflows/test.yml
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed github actions + changesets (#5)
  packages/library/.changeset/twenty-ads-beg.md
  packages/library/.github/workflows/test.yml
Due: biome check --write --no-errors-on-unmatched --staged

feat: add astro template
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-check.yml
  apps/astro/.github/workflows/release.yml
  apps/astro/.github/workflows/test.yml
  apps/astro/.gitignore
  apps/astro/.husky/commit-msg
  apps/astro/.husky/pre-commit
  apps/astro/.husky/pre-push
  apps/astro/.lintstagedrc.json
  apps/astro/README.md
  apps/astro/README_CHANGESETS.md
  apps/astro/astro.config.mjs
  apps/astro/biome.json
  apps/astro/commitlint.config.js
  apps/astro/eslint.config.mjs
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
  apps/astro/src/pages/index.astro
  apps/astro/src/public/robots.txt
  apps/astro/template_config.json
  apps/astro/tsconfig.json
  apps/astro/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed public folder
  apps/astro/public/robots.txt
Due: none

fix: fixed tailwind in astro
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed astro node
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed react in astro
  apps/astro/astro.config.mjs
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: final fix everything working
  apps/astro/.astro/content-assets.mjs
  apps/astro/.astro/content-modules.mjs
  apps/astro/.astro/data-store.json
  apps/astro/.astro/settings.json
  apps/astro/.astro/types.d.ts
  apps/astro/TEMPLATE_README.md
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/public/favicon.svg
  apps/astro/src/components/Features.astro
  apps/astro/src/components/Footer.astro
  apps/astro/src/components/Header.astro
  apps/astro/src/components/Hero.astro
  apps/astro/src/layouts/BaseLayout.astro
  apps/astro/src/pages/index.astro
  apps/astro/src/styles/global.css
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Add astro template (#6)
  apps/astro/.astro/content-assets.mjs
  apps/astro/.astro/content-modules.mjs
  apps/astro/.astro/data-store.json
  apps/astro/.astro/settings.json
  apps/astro/.astro/types.d.ts
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-check.yml
  apps/astro/.github/workflows/release.yml
  apps/astro/.github/workflows/test.yml
  apps/astro/.gitignore
  apps/astro/.husky/commit-msg
  apps/astro/.husky/pre-commit
  apps/astro/.husky/pre-push
  apps/astro/.lintstagedrc.json
  apps/astro/README.md
  apps/astro/README_CHANGESETS.md
  apps/astro/TEMPLATE_README.md
  apps/astro/astro.config.mjs
  apps/astro/biome.json
  apps/astro/commitlint.config.js
  apps/astro/eslint.config.mjs
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
  apps/astro/public/favicon.svg
  apps/astro/public/robots.txt
  apps/astro/src/components/Features.astro
  apps/astro/src/components/Footer.astro
  apps/astro/src/components/Header.astro
  apps/astro/src/components/Hero.astro
  apps/astro/src/layouts/BaseLayout.astro
  apps/astro/src/pages/index.astro
  apps/astro/src/styles/global.css
  apps/astro/template_config.json
  apps/astro/tsconfig.json
  apps/astro/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: hotfix astro template publish
  apps/astro/.github/workflows/release.yml
Due: none

fix: fixed multiple things
  apps/astro/.astro/content-assets.mjs
  apps/astro/.astro/content-modules.mjs
  apps/astro/.astro/data-store.json
  apps/astro/.astro/settings.json
  apps/astro/.astro/types.d.ts
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-consume.yml
  apps/astro/.gitignore
  apps/astro/.lintstagedrc.json
  apps/astro/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed pnpm-lock.yml
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
Due: none

chore: updated readme
  apps/astro/README.md
  apps/astro/TEMPLATE_README.md
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

Fix astro template (#7)
  apps/astro/.astro/content-assets.mjs
  apps/astro/.astro/content-modules.mjs
  apps/astro/.astro/data-store.json
  apps/astro/.astro/settings.json
  apps/astro/.astro/types.d.ts
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-consume.yml
  apps/astro/.gitignore
  apps/astro/.lintstagedrc.json
  apps/astro/README.md
  apps/astro/TEMPLATE_README.md
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: moved from biome to prettier
  apps/astro/.lintstagedrc.json
  apps/astro/.prettierrc
  apps/astro/biome.json
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: moved from biome to prettier (#8)
  apps/astro/.lintstagedrc.json
  apps/astro/.prettierrc
  apps/astro/biome.json
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: added docker and docker compose to astro template
  apps/astro/Dockerfile
  apps/astro/docker-compose.yml
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: added fly.io and refactor workflows for astro
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.github/workflows/quality-checks.yml
  apps/astro/.github/workflows/test.yml
  apps/astro/Dockerfile
  apps/astro/fly.toml
  apps/astro/package.json
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: deleted changesets
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-check.yml
  apps/astro/.github/workflows/changeset-consume.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/README.md
  apps/astro/README_CHANGESETS.md
  apps/astro/fly.toml
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged

chore: deleted changesets
  apps/astro/.github/workflows/deploy-dev.yml
Due: none

fix: fixed all little errors on deployment
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.gitignore
  apps/astro/astro.config.mjs
  apps/astro/eslint.config.mjs
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/tests/example.test.ts
  apps/astro/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed deploy astro
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
Due: none

fix: fixed deploy astro
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/fly.toml
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed deployment
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: added docker, docker compose and flyio to astro template (#9)
  apps/astro/.changeset/config.json
  apps/astro/.github/workflows/changeset-check.yml
  apps/astro/.github/workflows/changeset-consume.yml
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.gitignore
  apps/astro/README.md
  apps/astro/README_CHANGESETS.md
  apps/astro/astro.config.mjs
  apps/astro/docker-compose.yml
  apps/astro/eslint.config.mjs
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/template_config.json
  apps/astro/tests/example.test.ts
  apps/astro/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: using github actions project
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.github/workflows/quality-checks.yml
  apps/astro/.github/workflows/test.yml
Due: none

fix: correct workflow condition syntax in astro template
  apps/astro/.github/workflows/test.yml
Due: none

fix: reduce redundant job naming in astro template
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
Due: none

sync: update astro template workflows to match nextnode-front
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.github/workflows/test.yml
Due: none

fix: fixed workflows
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
Due: none

feat(library-template): apply TypeScript configuration from functions-server
  CLAUDE.md
  packages/library/package.json
  packages/library/tsconfig.build.json
  packages/library/tsconfig.eslint.json
  packages/library/tsconfig.json
  packages/library/tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: bump @nextnode/eslint-plugin to v1.2.0
  packages/library/package.json
  packages/library/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: bump @nextnode/eslint-plugin to v1.2.0 in astro template
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json
