Repository NextNodeSolutions/project-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: bump @nextnode/eslint-plugin to v1.2.0
  packages/library/package.json
  packages/library/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: bump @nextnode/eslint-plugin to v1.2.0 in astro template
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Update ESLint plugin to version 1.2.0 across project templates (#12)
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  packages/library/package.json
  packages/library/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat(library-template): apply TypeScript configuration from functions-server
  CLAUDE.md
  packages/library/package.json
  packages/library/tsconfig.build.json
  packages/library/tsconfig.eslint.json
  packages/library/tsconfig.json
  packages/library/tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: better typescript / eslint for library
  CLAUDE.md
  packages/library/eslint.config.mjs
  packages/library/package.json
  packages/library/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: sync library template TypeScript config with functions-server
  CLAUDE.md
  packages/library/tsconfig.eslint.json
  packages/library/tsconfig.json
  packages/library/tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged

Improve TypeScript and ESLint configuration for library template (#13)
  CLAUDE.md
  packages/library/eslint.config.mjs
  packages/library/package.json
  packages/library/tsconfig.build.json
  packages/library/tsconfig.eslint.json
  packages/library/tsconfig.json
  packages/library/tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: add repository name replacement in changeset config for library template
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: add repository name replacement in changeset config for library template (#14)
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: add files field to library template package.json
  .claude/settings.json
  packages/library/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: add files field to library template package.json
  packages/library/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: use .js extension in library template test imports
  packages/library/src/formatting/date.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: use .js extension in library template test imports (#15)
  packages/library/package.json
  packages/library/src/formatting/date.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: standardize TypeScript path configuration in library template
  apps/astro/package.json
  package.json
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: sync templates with nextnode-front updates
  .lintstagedrc.json
  apps/astro/.lintstagedrc.json
  apps/astro/package.json
  packages/library/.lintstagedrc.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: sync templates with nextnode-front updates (#16)
  .lintstagedrc.json
  apps/astro/.lintstagedrc.json
  apps/astro/package.json
  package.json
  packages/library/.lintstagedrc.json
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat(library-template): major update with modern CI/CD and structure
  packages/library/.github/workflows/auto-publish.yml
  packages/library/.github/workflows/manual-publish.yml
  packages/library/.github/workflows/release.yml
  packages/library/.github/workflows/test.yml
  packages/library/.github/workflows/version.yml
  packages/library/.gitignore
  packages/library/CLAUDE.md
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/src/__tests__/core.spec.ts
  packages/library/src/__tests__/utils.spec.ts
  packages/library/src/formatting/date.spec.ts
  packages/library/src/formatting/date.ts
  packages/library/src/index.ts
  packages/library/src/lib/core.ts
  packages/library/src/types/index.ts
  packages/library/src/utils/index.ts
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat(library-template): integrate @nextnode/logger with complete setup
  packages/library/.lintstagedrc.json
  packages/library/CLAUDE.md
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/src/__tests__/core.spec.ts
  packages/library/src/__tests__/logger.spec.ts
  packages/library/src/lib/core.ts
  packages/library/src/utils/index.ts
  packages/library/src/utils/logger.ts
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Modernize library template with automated CI/CD workflows and testing (#17)
  packages/library/.github/workflows/auto-publish.yml
  packages/library/.github/workflows/manual-publish.yml
  packages/library/.github/workflows/release.yml
  packages/library/.github/workflows/test.yml
  packages/library/.github/workflows/version.yml
  packages/library/.gitignore
  packages/library/.lintstagedrc.json
  packages/library/CLAUDE.md
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/src/__tests__/core.spec.ts
  packages/library/src/__tests__/logger.spec.ts
  packages/library/src/__tests__/utils.spec.ts
  packages/library/src/formatting/date.spec.ts
  packages/library/src/formatting/date.ts
  packages/library/src/index.ts
  packages/library/src/lib/core.ts
  packages/library/src/types/index.ts
  packages/library/src/utils/index.ts
  packages/library/src/utils/logger.ts
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: update library template configuration files
  packages/library/.lintstagedrc.json
  packages/library/biome.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: set library template initial version to 0.0.0
  packages/library/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: update templates to use shared @nextnode/standards configs
  apps/astro/.env.example
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.husky/pre-commit
  apps/astro/.lintstagedrc.json
  apps/astro/.prettierrc
  apps/astro/Dockerfile
  apps/astro/astro.config.mjs
  apps/astro/biome.json
  apps/astro/commitlint.config.js
  apps/astro/config/default.json
  apps/astro/config/dev.json
  apps/astro/config/prod.json
  apps/astro/config/test.json
  apps/astro/docker-compose.yml
  apps/astro/eslint.config.mjs
  apps/astro/fly.toml
  apps/astro/package.json
  apps/astro/railway.toml
  apps/astro/src/lib/config/index.ts
  apps/astro/src/lib/logging/index.ts
  apps/astro/template_config.json
  apps/astro/tests/setup.ts
  apps/astro/tsconfig.json
  apps/astro/types/config.d.ts
  apps/astro/types/env.d.ts
  apps/astro/types/global.d.ts
  apps/astro/vitest.config.ts
  packages/library/tsconfig.json
  packages/library/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: align library template with NextNode standards (Biome + Prettier)
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/pnpm-workspace.yaml
  packages/library/.prettierignore
  packages/library/biome.json
  packages/library/commitlint.config.js
  packages/library/eslint.config.mjs
  packages/library/package.json
  packages/library/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: align library template GitHub Actions with config-manager standards
  packages/library/.github/workflows/auto-publish.yml
  packages/library/.github/workflows/manual-publish.yml
  packages/library/.github/workflows/test.yml
  packages/library/.lintstagedrc.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: update Astro template with NextNode centralized workflows
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/.github/workflows/deploy-prod.yml
  apps/astro/.github/workflows/quality-checks.yml
  apps/astro/.github/workflows/test.yml
  apps/astro/.husky/commit-msg
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

refactor: update templates to use simplified template_config.json structure
  apps/astro/.github/workflows/deploy-dev.yml
  apps/astro/README.md
  apps/astro/template_config.json
  packages/library/.changeset/config.json
  packages/library/README.md
  packages/library/README_CHANGESETS.md
  packages/library/package.json
  packages/library/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix(astro-template): remove @nextnode/config-manager and use env vars directly
  apps/astro/astro.config.mjs
  apps/astro/config/default.json
  apps/astro/config/dev.json
  apps/astro/config/prod.json
  apps/astro/config/test.json
  apps/astro/package.json
  apps/astro/src/lib/config/index.ts
  apps/astro/template_config.json
  apps/astro/types/config.d.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix(astro-template): remove config files references from template_config.json
  apps/astro/template_config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix(astro-template): remove unnecessary vite resolve alias
  apps/astro/astro.config.mjs
Due: none

feat(astro-template): add logger debug and basic sitemap integration
  apps/astro/astro.config.mjs
  apps/astro/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: update dependencies and configurations in templates
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  packages/library/package.json
  packages/library/pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: sync vitest and vite-tsconfig-paths configurations across templates
  apps/astro/astro.config.mjs
  apps/astro/vitest.config.ts
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/pnpm-workspace.yaml
  packages/library/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: better tests for library + fixes
  apps/astro/astro.config.mjs
  apps/astro/tests/example.test.ts
  apps/astro/vitest.config.ts
  packages/library/tests/core.spec.ts
  packages/library/tests/logger.spec.ts
  packages/library/tests/setup.ts
  packages/library/tests/utils.spec.ts
  packages/library/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed multiple files
  apps/astro/package.json
  apps/astro/pnpm-lock.yaml
  apps/astro/tests/setup.ts
  apps/astro/tsconfig.json
  apps/astro/vitest.config.ts
  packages/library/package.json
  packages/library/pnpm-lock.yaml
  packages/library/src/index.ts
  packages/library/src/lib/core.spec.ts
  packages/library/src/lib/core.ts
  packages/library/src/utils/logger.spec.ts
  packages/library/src/utils/utils.spec.ts
  packages/library/src/utils/utils.ts
  packages/library/tests/setup.ts
  packages/library/tsconfig.json
  packages/library/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: added template
  apps/poc-frontend/.env.example
  apps/poc-frontend/.gitignore
  apps/poc-frontend/.husky/commit-msg
  apps/poc-frontend/.husky/pre-commit
  apps/poc-frontend/.lintstagedrc.json
  apps/poc-frontend/CLAUDE.md
  apps/poc-frontend/README.md
  apps/poc-frontend/__tests__/setup.ts
  apps/poc-frontend/__tests__/storage.spec.ts
  apps/poc-frontend/__tests__/utils.spec.ts
  apps/poc-frontend/biome.json
  apps/poc-frontend/commitlint.config.js
  apps/poc-frontend/eslint.config.mjs
  apps/poc-frontend/index.html
  apps/poc-frontend/package.json
  apps/poc-frontend/postcss.config.js
  apps/poc-frontend/public/vite.svg
  apps/poc-frontend/src/app.tsx
  apps/poc-frontend/src/components/common/Button.tsx
  apps/poc-frontend/src/components/common/Card.tsx
  apps/poc-frontend/src/components/common/Modal.tsx
  apps/poc-frontend/src/components/features/ExampleFeature.tsx
  apps/poc-frontend/src/hooks/useLocalStorage.ts
  apps/poc-frontend/src/hooks/useModal.ts
  apps/poc-frontend/src/lib/logger.ts
  apps/poc-frontend/src/lib/storage.ts
  apps/poc-frontend/src/lib/utils.ts
  apps/poc-frontend/src/main.tsx
  apps/poc-frontend/src/styles/index.css
  apps/poc-frontend/src/types/index.ts
  apps/poc-frontend/template_config.json
  apps/poc-frontend/tsconfig.json
  apps/poc-frontend/vite.config.ts
  apps/poc-frontend/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor(poc-frontend): migrate from ESLint to Biome
  apps/poc-frontend/.lintstagedrc.json
  apps/poc-frontend/CLAUDE.md
  apps/poc-frontend/eslint.config.mjs
  apps/poc-frontend/package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor(poc-frontend): optimize Modal component and clean up storage comments
  apps/poc-frontend/src/components/common/Modal.tsx
  apps/poc-frontend/src/lib/storage.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: remove non-existent config/ directory from Dockerfile and add health endpoint
  apps/astro/Dockerfile
  apps/astro/src/pages/health.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: remove HTML comments from JSX in Features component
  apps/astro/src/components/Features.astro
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched --staged: any of: *.{js,jsx,ts,tsx,json,jsonc,md}
  better-sort-package-json: any of: package.json
